<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav Only</title>
  </head>
  <body>
    <div id="nav-wrapper" class="navigation">
      <h1 class="museo h1">pico.</h1>
      <div class="nav-current-location">
        <h2 class="museo h4 fw-4">home</h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-down-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
          />
        </svg>
      </div>
      <ul id="primary-nav" aria-expanded="false" class="clr-6 museo">
        <li class="h5 cursor-pointer selected" data-link="/index.html">
          <span class="pre-colon">::</span>home
        </li>
        <li class="h5 cursor-pointer" data-link="/gallery.html">
          <span class="pre-colon">::</span>gallery
        </li>
        <li class="h5 cursor-pointer" data-link="/product.html">
          <span class="pre-colon">::</span>nano
        </li>
        <li class="h5 cursor-pointer" data-link="/purchase.html">
          <span class="pre-colon">::</span>purchase
        </li>
        <li
          id="info-dropdown"
          class="h5 cursor-pointer li-dropdown"
          aria-expanded="false"
          data-ignore-link="true"
        >
          <span class="h5"><span class="pre-colon">::</span>info</span>
          <span class="chevron"></span>
          <ul class="fw-400">
            <li data-link="/about.html">
              <span class="pre-colon">::</span> about
            </li>
            <li data-link="/careers.html">
              <span class="pre-colon">::</span> careers
            </li>
            <li data-link="/contact.html">
              <span class="pre-colon">::</span> contact
            </li>
            <li data-link="/map.html">
              <span class="pre-colon">::</span> site map
            </li>
          </ul>
        </li>
      </ul>
      <div class="hamburger" id="nav-dropdown-button">
        <svg viewBox="0 0 100 60" width="40" height="40">
          <rect width="100" height="12" rx="10"></rect>
          <rect y="30" width="100" height="12" rx="10"></rect>
          <rect y="60" width="100" height="12" rx="10"></rect>
        </svg>
      </div>
    </div>
  </body>
</html>
