<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
  </head>
  <body>
    <div id="nav-wrapper" class="navigation">
      <h1 class="museo h1">pico.</h1>
      <div class="nav-current-location">
        <h2 class="museo h4 fw-4" id="current-page"></h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-down-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
          />
        </svg>
      </div>
      <ul
        id="primary-nav"
        aria-expanded="false"
        class="clr-6 museo primary-nav-list"
      >
        <li
          class="h5 cursor-pointer"
          data-link="index.html"
          data-nav-hover="true"
          data-selected="false"
        >
          <span class="pre-colon">::</span>home
        </li>
        <li
          class="h5 cursor-pointer"
          data-link="gallery.html"
          data-nav-hover="true"
          data-selected="false"
        >
          <span class="pre-colon">::</span>gallery
        </li>
        <li
          class="h5 cursor-pointer"
          data-link="product.html"
          data-nav-hover="true"
          data-selected="false"
        >
          <span class="pre-colon">::</span>nano
        </li>
        <li
          class="h5 cursor-pointer"
          data-link="purchase.html"
          data-nav-hover="true"
          data-selected="false"
        >
          <span class="pre-colon">::</span>purchase
        </li>
        <li
          id="info-dropdown"
          class="h5 cursor-pointer li-dropdown"
          aria-expanded="false"
          data-ignore-link="true"
          data-nav-hover="true"
        >
          <span class="h5"><span class="pre-colon">::</span>more</span>
          <span class="chevron"></span>
        </li>
        <li
          id="info-dropdown-items"
          data-nav-hover="false"
          data-selected="false"
          data-ignore-link="true"
        >
          <ul class="fw-400">
            <li
              data-link="about.html"
              data-nav-hover="true"
              data-selected="false"
            >
              <span class="pre-colon">::</span> about
            </li>
            <li
              data-link="careers.html"
              data-nav-hover="true"
              data-selected="false"
            >
              <span class="pre-colon">::</span> careers
            </li>
            <li
              data-link="contact.html"
              data-nav-hover="true"
              data-selected="false"
            >
              <span class="pre-colon">::</span> contact
            </li>
            <li
              data-link="site_map.html"
              data-nav-hover="true"
              data-selected="false"
            >
              <span class="pre-colon">::</span> site map
            </li>
          </ul>
        </li>
      </ul>
      <div class="hamburger" id="nav-dropdown-button">
        <svg viewBox="0 0 100 60" width="40" height="40">
          <rect width="100" height="12" rx="10"></rect>
          <rect y="30" width="100" height="12" rx="10"></rect>
          <rect y="60" width="100" height="12" rx="10"></rect>
        </svg>
      </div>
    </div>
  </body>
</html>
