.about-nav-socials {
  position: absolute;
  fill: var(--color-200);

  bottom: 1vw;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  gap: 1.5vw;

  & > * {
    cursor: pointer;
  }

  & svg {
    /* width: calc(1.5vw + 1rem);
    height: calc(1.5vw + 1rem); */
    width: 3rem;
    height: 3rem;
    opacity: 0.8;
    transition: opacity 0.2s, scale 0.2s;

    &:hover {
      opacity: 1;
      scale: 1.1;
    }
  }
}

.ham {
  height: 3.75rem;
  width: 3.75rem;

  &[aria-expanded="false"] svg {
    stroke: var(--color-600) !important;
  }

  &[aria-expanded="true"] svg {
    stroke: var(--color-100) !important;
  }
}

.about-nav {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  &[aria-expanded="false"] {
    .foldout-screen-darken {
      pointer-events: none;
    }
  }

  &[aria-expanded="true"] {
    .foldout-screen-darken {
      opacity: 0.5;
      pointer-events: all;
    }
  }

  & .ham {
    position: absolute;
    z-index: 2;
    right: 2vw;
    top: 1vw;
  }

  & .foldout-screen-darken {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    /* z-index: 1; */
    background-color: rgba(0, 0, 0);
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  & .foldout {
    width: 0;
    height: 100%;
    position: relative;
    overflow: hidden;

    background-color: rgba(35, 35, 35, 0.8);
    backdrop-filter: blur(5px);

    transition: width 0.35s ease-in-out;
    font-size: max(4.5vw, 1.875rem);
    box-shadow: 0 0 10px rgb(14, 14, 14);

    & > h1 {
      position: absolute;
      right: -1.5em;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      z-index: 2;
    }

    & > h1,
    span {
      font-size: 1em;
    }

    & > ul {
      font-size: 0.4em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5vw;
      height: 100%;
      width: min(35%, 13.75rem);
      margin: 0 auto;
    }

    & > ul li {
      font-size: clamp(1.5rem, 1.75vw, 1.875rem);
      cursor: pointer;
      position: relative;
      width: auto;

      padding: 0.5em;
      padding-inline: 0.5em;
      background-color: rgb(62, 62, 62);
      border-radius: 0.5rem;
      font-weight: 300;

      text-align: center;
      overflow: hidden;
      white-space: nowrap;

      transition: background-color 0.2s linear;

      &:hover[data-selected="false"] {
        background-color: var(--color-400);
      }

      &[data-selected="true"] {
        background-color: rgba(46, 46, 46, 0.8);
        color: var(--color-300);
        cursor: not-allowed;
      }
    }
  }

  & .foldout[aria-expanded="true"] {
    width: 100%;
  }
}

.about-main {
  display: grid;
  grid-template-columns: min(30vw, 34.375rem) 1fr;
  /* grid-template-columns: 1fr min(30vw, 34.375rem); */
  grid-template-rows: 1fr;
  height: 100vh;
}

.about-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  grid-column: 1 / 2;
  grid-row: 1 / 3;

  overflow: hidden;

  & > h1 {
    font-size: clamp(3.75rem, calc(3.75vw + 1rem), 5.5rem);
    position: relative;
    margin-bottom: 0.35em;
    margin: 0 auto;
    white-space: nowrap;

    &::after {
      content: "what is this place?";
      position: absolute;
      left: 2.25em;
      bottom: -0.2em;
      font-size: 0.25em;
      font-weight: 400;
      color: #2d2d2d;
    }

    &::before {
      content: "";
      position: absolute;
      left: -0.1em;
      bottom: -0.25em;
      width: 1.25em;
      height: 5px;
      border-radius: 1rem;
      background-color: var(--color-600);
    }
  }

  & > h1 span {
    font-size: 0.5em;
  }
}

.about-body {
  /* grid-column: 1 / 2; */
  grid-column: 2 / 3;
  box-shadow: 0 0 10px rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
}

.about-body__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 3vw;
  border-bottom: 2px solid gray;

  padding-block: calc(2.25vw + 1rem);
  height: 70%;
  gap: calc(2.25vw + 1rem);
}

.about-body__info > p {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  letter-spacing: 0.1em;
  line-height: 1.25;
  width: 85%;
}

.about-body__info > div {
  display: grid;
  grid-template-columns: 55% 1fr;
  gap: 2vw;
  flex-grow: 1;
}

.about-body__img {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgb(66, 66, 66);
  overflow: hidden;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.about-body__blurb {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;

  & h1 {
    font-size: max(3.25rem, 4vw);
    position: relative;
    margin-bottom: 2.5vw;

    &::after {
      content: "doing the bare minimum";
      position: absolute;
      left: 2em;
      bottom: -0.75em;
      font-size: 0.25em;
      font-weight: 400;
      color: #2d2d2d;
    }

    &::before {
      content: "";
      position: absolute;
      left: -0.2em;
      bottom: -0.35em;
      width: 1em;
      height: 5px;
      border-radius: 1rem;
      background-color: var(--color-600);
    }
  }

  & p {
    font-size: clamp(1.25rem, calc(1.5vw + 1rem), 1.55rem);
    line-height: 1.2;
  }

  & quote {
    font-size: clamp(1.15rem, calc(1.3vw + 1rem), 1.25rem);
    position: relative;

    &::after {
      position: absolute;
      content: "- everyone @ pico";
      bottom: -1.1em;
      font-size: 0.8em;
      left: 1em;
      font-weight: 400;
    }
  }

  & > div {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 0.75vw;
  }
}

.about-body__credits {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.about-body__credits {
  height: 30%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;

  & h1 {
    font-size: clamp(1.75rem, 3vw, 2.5rem);
  }
}

.credits__info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-inline: 4vw;
  align-items: center;

  & a {
    cursor: pointer;
  }
}

.credits__title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid gray;
}

.align-baseline {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2vw;
  width: 100%;
}

.credits__info > div h1 {
  margin-bottom: calc(1vw + 0.25rem);
}

.credits__info > div ul {
  display: flex;
  flex-direction: column;
  gap: calc(1vw + 0.25rem);

  font-size: max(1.75rem, calc(1vw + 1rem));

  & li.museo {
    line-height: 1.2;
    font-size: min(1.7rem, 0.8em);
  }

  & * {
    font-size: min(1.8rem, 0.85em);
  }
}

@media screen and (max-width: 93.75rem) {
  .about-body__info > p {
    width: 100%;
  }
}

@media screen and (max-width: 85.4375rem) {
  .credits__title {
    display: none;
  }

  .credits__info {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 56.25rem) {
  .about-body__info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 3vw;
    padding-inline: 8vw;
    position: relative;
    align-items: center;

    & > p {
      grid-row: 2 / 3;
    }

    & > div {
      display: flex;
    }
  }

  .about-body__blurb > div {
    font-size: 8vw;

    & h1 {
      font-size: 1em;
      margin-bottom: 0.65em;
    }

    & p {
      font-size: 0.35em;
    }

    & quote {
      font-size: 0.3em;
    }
  }

  .about-body__img {
    display: none;
  }

  .about-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .about-hero {
    height: 30%;
  }

  .about-body {
    box-shadow: none;
    height: 100%;
  }

  .about-nav {
    position: fixed;

    & h1 {
      font-size: calc(7vw + 1rem) !important;
    }
  }

  .about-body__credits {
    display: flex;
    position: relative;

    & .credits__title {
      display: none;
    }
  }
}

@media screen and (max-width: 38.75rem) {
  .credits__title {
    display: none;
  }

  /* .about-nav-socials {
    display: none;
  } */
}
