.top-navigation {
  padding-top: min(5vh, 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.gallery-page-title {
  position: absolute;
  right: -5rem;
  top: 50%;
  opacity: 0.2;
  transform-origin: center;
  transform: translateY(-50%) rotate(-90deg);
  overflow: hidden !important;

  & h1 {
    letter-spacing: 0.1em;
    font-size: 5rem;
  }
}

.gallery-footer {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & ul {
    color: inherit;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    & li svg {
      fill: var(--color-500);
      cursor: pointer;
    }
  }
}

/* tablet */
.gallery-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  left: 0;

  align-items: center;

  & h1 {
    font-size: 2rem;
    padding-left: 1.5rem;
  }

  & ul {
    justify-self: center;
    gap: 3rem;
  }

  & ul li svg {
    height: 2rem;
  }
}

.gallery-img-selectors {
  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  left: 50%;
  bottom: 1.5rem;

  cursor: pointer;

  transform: translateY(-50%);

  & .relative {
    position: relative;
    inset: 0;

    & .absolute {
      position: absolute;
      transform: translateY(-50%);
    }
  }

  & .img-play-pause {
    position: relative;
    left: 0.75rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-300);
    transition: transform 200ms, scale 200ms;

    &:hover {
      border: 2px solid var(--color-600);
      scale: 110%;
    }

    &[data-playing="true"] {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateX(-2px) translateY(-50%);
        height: 1.25rem;
        width: 0.1875rem;
        background-color: var(--color-600);
      }

      &::before {
        left: calc(50% - 0.3125rem);
      }

      &::after {
        left: calc(50% + 0.3125rem);
      }
    }

    &[data-playing="false"] {
      &::before,
      &::after {
        content: ">";
        position: absolute;
        font-size: 2rem;
        color: var(--color-600);
        transform: scaleY(150%) translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
    }
  }

  & .img-selector {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    border: 2px solid var(--color-600);

    &[data-selected="true"] {
      background-color: var(--color-600);
      transition: background-color 350ms;
    }
  }
}

.gallery-title {
  grid-column: 9 / 15;
  grid-row: 2 / 7;
  display: flex;
  flex-direction: column;
  margin-block: auto;
  margin-inline: auto;
  width: 90%;
  grid-gap: 0.5rem;

  & div {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
  }

  & h1 {
    font-size: max(min(7vh, 5vw), 2.5rem);
    position: relative;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      left: -1rem;
      bottom: 0.2rem;
      width: 6rem;
      height: 0.12em;
      background-color: var(--color-600);
      border-radius: 2rem;
    }

    &::after {
      content: "(not)";
      padding-bottom: 5rem;
      margin-bottom: 5rem;
      font-weight: 400;
      color: var(--color-400);
      font-size: 0.35em;
    }
  }

  & p {
    font-size: max(min(2.3vh, 2.1vw), 1.05rem);
    line-height: 1.2;
  }

  & quote {
    position: relative;
    padding-bottom: 1rem;
    font-size: min(2.3vh, 2.1vw);

    &::after {
      content: "- everyone @ pico";
      position: absolute;
      left: 0.5rem;
      top: calc(min(2.1vh, 2.2vw) + 1vh);
      font-size: 1.3vh;
      font-weight: 400;
    }
  }

  & button {
    z-index: 1;
  }
}

.gallery-grid {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  grid-template-columns: repeat(15, min(5.5vw, 9.375rem));
  grid-template-rows: repeat(14, min(5vh, 9.375rem));
  grid-gap: 0.8rem;
  max-height: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  & .page-number {
    grid-column: 1 / 4;
    grid-row: 5 / 8;

    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.5em;

    position: relative;
    overflow: hidden;

    & h1 {
      font-size: 10rem;
      opacity: 35%;
      position: absolute;
      height: 100%;
      line-height: 1;
      text-align: center;
    }
  }
}

.img-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 3px 5px 5px 0px rgb(128, 128, 128);
  border-radius: 0.625rem;
  position: relative;
  transition: scale 200ms, box-shadow 200ms;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  &:hover {
    scale: 102%;
    box-shadow: 6px 10px 10px 0px rgb(128, 128, 128);
  }
}

#img-box-1 {
  grid-column: 4 / 9;
  grid-row: 2 / 8;
}

#img-box-2 {
  grid-column: 2 / 9;
  grid-row: 8 / 14;

  & div {
    width: 95%;
    float: right;
  }
}

#img-box-3 {
  grid-column: 9 / 15;
  grid-row: 7 / 14;

  & div {
    width: 95%;
  }
}

.img-list {
  display: none;
}

.gallery-nav {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  position: absolute;
  z-index: 1000;

  & .ham {
    position: fixed;
    top: 1vw;
    right: 2vw;
    /* height: 4vw;
    width: 4vw; */
    z-index: 1001;
  }

  & .foldout-screen-darken {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    /* z-index: 1; */
    background-color: rgba(0, 0, 0);
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  &[aria-expanded="false"] {
    .foldout-screen-darken {
      pointer-events: none;
    }
  }

  &[aria-expanded="true"] {
    .foldout-screen-darken {
      opacity: 0.5;
      pointer-events: all;
    }
  }

  & .foldout {
    width: 0;
    height: 100%;
    position: fixed;
    overflow: hidden;

    right: 0;

    background-color: rgba(35, 35, 35, 0.7);
    backdrop-filter: blur(5px);

    transition: width 0.35s ease-in-out;
    font-size: max(4.5vw, 1.875rem);
    /* box-shadow: 0 0 10px rgb(14, 14, 14); */

    & h1 {
      position: absolute;
      right: -1.5em;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      z-index: 2;
    }

    & h1,
    span {
      font-size: 1em;
    }

    & ul {
      font-size: 0.4em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5vw;
      height: 100%;
      width: clamp(10.9375rem, 35%, 14.0625rem);
      margin: 0 auto;
    }

    & li {
      font-size: clamp(1.5rem, 1.75vw, 1.875rem);
      cursor: pointer;
      position: relative;
      /* width: auto; */

      width: clamp(200, 100%, 15.625rem);

      padding: 0.5em;
      padding-inline: 0.5em;
      background-color: rgb(62, 62, 62);
      border-radius: 0.5rem;
      font-weight: 300;

      text-align: center;
      overflow: hidden;
      white-space: nowrap;

      transition: background-color 0.2s linear;

      &:hover[data-selected="false"] {
        background-color: var(--color-400);
      }

      &[data-selected="true"] {
        background-color: rgba(46, 46, 46, 0.8);
        color: var(--color-300);
        cursor: not-allowed;
      }
    }
  }

  & .foldout[aria-expanded="true"] {
    width: clamp(21.875rem, 25%, 31.25rem);
  }
}

@media screen and (max-width: 84.375rem) {
  .gallery-nav .foldout h1 {
    display: none;
  }

  .gallery-nav .foldout ul {
    padding: 2rem !important;
    justify-content: center;
    align-items: center;
    gap: 3vw !important;

    & li {
      height: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5vw !important;
    }
  }

  .gallery-nav .foldout ul,
  .gallery-nav .foldout li {
    width: 100% !important;
  }
}

@media screen and (max-width: 81.25rem) {
  .page-number h1 {
    display: none !important;
  }

  .gallery-title {
    grid-column-start: 8;
  }

  #img-box-1 {
    grid-column: 1 / 8 !important;
    & div {
      float: right;
      width: 95%;
    }
  }

  #img-box-2 {
    grid-column: 1 / 8 !important;
  }

  #img-box-3 {
    grid-column: 8 / 16 !important;

    & div {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 64rem) {
  .centered {
    height: 90vh;
    align-items: center;
  }

  .top-navigation {
    margin-top: 0rem;
  }

  .page-number h1 {
    display: none;
  }

  .gallery-grid {
    grid-template-columns: repeat(14, calc(68vw / 14));

    #img-box-1 {
      grid-column: 1 / 8 !important;
      grid-row: 2 / 8;

      & div {
        float: right;
      }
    }

    #img-box-2 {
      grid-column: 1 / 8;
    }

    #img-box-3 {
      grid-column: 8 / 13;
      grid-row: 7 / 14;
      & div {
        width: 95%;
      }
    }
  }

  .gallery-title {
    grid-column: 8 / 14;
    grid-row: 1 / 8;

    & div {
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;

      & button {
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 37.5rem) {
  .img-list {
    margin-top: 2rem;
    position: relative;
    display: flex;
    width: 90%;

    justify-self: center;

    background-color: orange;
  }

  .gallery-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    & .img-box {
      display: none;
    }
  }

  .gallery-title {
    width: 90%;

    & h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;

      &::before {
        left: 17rem;
        top: 0.5rem;
      }

      &::after {
        left: 0;
        bottom: -0.1rem;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5rem;
  }

  .gallery-footer {
    display: flex;
    justify-content: center;
    bottom: 2rem;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    & h1 {
      display: none;
    }

    & ul {
      gap: 4rem;

      & li svg {
        height: 2.5rem;
      }
    }
  }

  .gallery-nav .foldout[aria-expanded="true"] {
    width: 100%;
  }

  .gallery-nav .foldout ul {
    padding: 2rem !important;
    justify-content: center;
    align-items: center;
    gap: 5vw !important;
    width: max-content;

    & li {
      height: 15vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 6.5vw !important;
    }
  }
}
