/* IMPORT ALL CSS FILES HERE */
:root {
  --color-600: #3d3d3d;
  --color-500: #5c5c5c;
  --color-400: #686868;
  --color-300: #a6a6a6;
  --color-200: #e2e2e2;
  --color-100: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "League Spartan", "sans-serif";
  color: var(--color-600);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

h1,
.h1 {
  font-size: 2.4rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.65rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.3rem;
}

.museo {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.c-9 {
  color: black;
}
.c-6 {
  color: var(--color-600);
}
.c-5 {
  color: var(--color-500);
}
.c-4 {
  color: var(--color-400);
}
.c-3 {
  color: var(--color-300);
}
.c-2 {
  color: var(--color-200);
}
.c-1 {
  color: var(--color-100);
}

.f-1 {
  font-weight: 100;
}
.f-2 {
  font-weight: 200;
}
.f-3 {
  font-weight: 300;
}
.f-4 {
  font-weight: 400;
}
.f-5 {
  font-weight: 500;
}
.f-6 {
  font-weight: 600;
}
.f-7 {
  font-weight: 700;
}
.f-8 {
  font-weight: 800;
}
.f-9 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}
