:root {
  --color-600: #3d3d3d;
  --color-500: #5c5c5c;
  --color-400: #686868;
  --color-300: #a6a6a6;
  --color-200: #e2e2e2;
  --color-100: #ffffff;

  --fs--2: clamp(0.7813rem, 0.6356rem + 0.7283vi, 1.2rem);
  --fs--1: clamp(0.9375rem, 0.7418rem + 0.9783vi, 1.5rem);
  --fs-0: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --fs-1: clamp(1.35rem, 1.0043rem + 1.7283vi, 2.3438rem);
  --fs-2: clamp(1.62rem, 1.1645rem + 2.2777vi, 2.9297rem);
  --fs-3: clamp(1.944rem, 1.3464rem + 2.988vi, 3.6621rem);
  --fs-4: clamp(2.3328rem, 1.552rem + 3.9041vi, 4.5776rem);
  --fs-5: clamp(2.7994rem, 1.7828rem + 5.0829vi, 5.722rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  /* text-transform: lowercase; */
}

body {
  font-family: "League Spartan", "sans-serif";
  color: var(--color-600);
  background-color: var(--color-200);
  height: 100%;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: var(--color-600);
}

ul {
  list-style: none;
}

h1,
.h1 {
  font-size: 2.4rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.65rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.3rem;
}

.museo {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.clr-9 {
  color: black;
}
.clr-6 {
  color: var(--color-600);
}
.clr-5 {
  color: var(--color-500);
}
.clr-4 {
  color: var(--color-400);
}
.clr-3 {
  color: var(--color-300);
}
.clr-2 {
  color: var(--color-200);
}
.clr-1 {
  color: var(--color-100);
}

.fw-1 {
  font-weight: 100;
}
.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.circles-container {
  overflow: hidden !important;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.circle-1,
.circle-2,
.circle-3 {
  position: absolute;
  border: 2.2rem solid rgba(16, 16, 16, 0.05);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.circle-1 {
  width: 25rem;
  height: 25rem;
}

.circle-2 {
  width: 32.8125rem;
  height: 32.8125rem;
}

.circle-3 {
  width: 25rem;
  height: 25rem;
  right: 0;
  transform: translate(60%, -60%);
}

.btn {
  font-size: clamp(1.375rem, 1.7vw, 1.875rem);
  border: none;
  border-radius: 2rem;
  width: clamp(9.375rem, 12vw, 13.75rem);
  height: clamp(2.875rem, 3vw, 3.75rem);
  cursor: pointer;
  transition: color 800ms ease, box-shadow 150ms ease, transform 150ms ease;

  &:hover {
    transform: translate(-0.15vw, -0.15vw);
    box-shadow: 0.15vw 0.15vw 0 #3e3e3e;
  }
}

.btn-dark {
  background-color: var(--color-600);
  color: var(--color-100);
}

.btn-light {
  padding-block: 2px;
  border: 2px solid var(--color-600);
  color: var(--color-600);
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.page-in,
.page-out {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-600);
  transform-origin: top;
  z-index: 99999 !important;
  pointer-events: none;
  opacity: 1;

  &::after {
    content: "pico.";
    font-size: 8rem;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    pointer-events: none;
  }
}

.page-in {
  animation: fade-in 0.25s 0.5s ease-out forwards;
}

.page-out {
  animation: fade-out 0.25s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}


.disclaimer__title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  cursor: pointer;
  z-index: 9001;

  font-size: 1.2rem;
  text-decoration: underline;
}

.disclaimer__text {
  position: fixed;
  background-color: rgba(12, 12, 12, 0.9);
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  z-index: 9000;
  height: 100%;
  width: 100%;
  
  display: none;
  justify-content: center;
  align-items: center;

  & p, span, a {
    font-size: 1.75rem;
    /* text-align: center; */
    max-width: 80%;
  }

  & span {
    text-decoration: underline;
    cursor: pointer;
  }
  
  & span::hover {
    color: #ffffff;
  }

  &[data-visible="true"] {
    display: flex !important;
    justify-content: center;
    align-items: center;
    animation: show-disclaimer 200ms forwards;
  }

  &[data-visible="false"] {
    animation: hide-disclaimer 200ms forwards;
  }
}

@keyframes show-disclaimer {
  from {
    display: flex;
    visibility: visible;
    pointer-events: all;
    opacity: 0;
  }
  to {
    display: flex;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
}

@keyframes hide-disclaimer {
  from {
    display: flex;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
  to {
    display: none;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

.useless-skip-bottom {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.useless-skip-top {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}