/* IMPORT ALL CSS FILES HERE */
:root {
  --color-600: #3d3d3d;
  --color-500: #5c5c5c;
  --color-400: #686868;
  --color-300: #a6a6a6;
  --color-200: #e2e2e2;
  --color-100: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", "sans-serif";
  color: var(--color-600);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.museo {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.c-600 {
  color: var(--color-600);
}
.c-500 {
  color: var(--color-500);
}
.c-400 {
  color: var(--color-400);
}
.c-300 {
  color: var(--color-300);
}
.c-200 {
  color: var(--color-200);
}
.c-100 {
  color: var(--color-100);
}

.f-100 {
  font-weight: 100;
}

.f-200 {
  font-weight: 200;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

.f-800 {
  font-weight: 800;
}

.f-900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}
