@media screen and (max-width: 600px) {
  .hero-btn-container {
    flex-direction: column;
  }

  .phone-img img {
    opacity: 1;
  }

  .home-hero {
    & p {
      display: none;
    }

    & .hero-btn-container {
      margin-top: 20rem;
    }

    & h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5rem;
  }

  .home-footer {
    display: flex;
    justify-content: center;
    bottom: 2rem;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    & h1 {
      display: none;
    }

    & ul {
      gap: 4rem;

      & li svg {
        height: 2.5rem;
      }
    }
  }

  .circles-container {
    display: none;
  }
}
