.main-grid {
  display: flex;
  max-height: 100%;
  justify-content: center;
  flex-direction: column;
}

.centered-header {
  margin: 0 auto;
  padding-top: 3rem;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-main-hero {
  overflow: visible;

  background: url("../public/images/Phone.png");
  background-position: 50% 50%;
  background-size: clamp(560px, 70vw, 950px);
  background-repeat: no-repeat;

  &::after {
    /* content: ""; */
    position: absolute;
    overflow: visible;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../public/images/Phone.png");
    /* background-position: 50% 50%; */
    background-position: 50% 50%;
    background-size: clamp(600px, 70vw, 900px);
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    z-index: -1;
  }

  height: max(85svh, 650px);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, 1fr);

  margin-bottom: 5rem;
}

.product-hero {
  position: relative;
  margin: 1rem;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.product__title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  justify-self: center;
  align-self: center;
  font-size: 10vw;

  & h1 {
    margin-bottom: -0.5em;
    font-size: min(170px, max(6.5rem, 0.9em));
  }

  & h2 {
    font-size: max(2.5rem, 0.3em);
  }
}

.product__buy {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  font-size: clamp(1.6rem, 2vw, 1.855rem);

  & p {
    padding-block: 0.6em;
    padding-inline: 0.5em;
    background-color: rgba(240, 240, 240, 0.2);
    border-radius: 2rem;

    backdrop-filter: blur(4px);

    font-size: 0.75em;
  }

  & p span.lower {
    font-size: 0.95em;
  }

  & p span.upper {
    font-size: 1.1em;
  }

  & button {
    font-size: 1em;
    width: auto;
    padding-inline: 2em;
    height: auto;

    border-radius: 2rem;
    border: none;
    outline: none;
    padding-block: 0.15em;

    font-size: 0.8em;
    cursor: pointer;
  }
}

.grid-item-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid-item-baseline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.product-page-title {
  position: absolute;
  top: 15%;
  transform: rotate(90deg);
  left: -0.9em;
  font-size: 8em;
  opacity: 25%;
}

.product-description {
  padding-inline: 3rem;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .product-page-title {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .product__title h1 {
    font-size: 1.75em;
  }

  .product__buy {
    justify-content: center;
  }
}
