.purchase-title {
  font-size: clamp(50px, 8vw, 70px);

  display: flex;
  flex-direction: column;
  padding: 2vw 4vw 2vw 7vw;

  & h1 {
    font-size: 1em;
  }

  & p {
    font-size: 0.25em;
  }

  & span.lower {
    font-size: 1.25em;
  }

  & span.upper {
    font-size: 1.5em;
  }
}

.purchase-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-inline: 2vw;
  /* max-width: 96.875rem; */

  & button {
    align-self: center;
    justify-self: center;
  }
}

.purchase-body__images {
  margin-left: 7vw;
  margin-right: 4.5vw;
  display: flex;
  flex-direction: column;
  height: 40vw;
  width: 57vw;
  gap: 1.5vw;
}

.purchase-body-category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: calc(0.5vw + 0.5rem);
  /* font-size: 1.5rem; */
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  font-weight: 600;

  & > p,
  > p span {
    font-size: 1em;
    line-height: 1.25;
  }
}

.pb-color-options {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;

  & #color-choice {
    text-shadow: #909090 2px 2px;
  }

  & > div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  & > div[data-selected="true"] {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.296);
  }

  & > div:hover {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.296);
  }
}

#pb-color-option-dark {
  background-color: var(--color-600);
  box-shadow: inset 0 5px 5px #4b4b4b;
}

#pb-color-option-light {
  background-color: white;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25);
}

.image-container {
  border-radius: 1rem;
  background-color: #e5e7e9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  height: 100%;
  /* height: 100%; */
  aspect-ratio: 4 / 3 ;
}

.buy-button {
  /* background-color: orange; */
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0;
  margin: 0;

  & button {
    padding: 0;
    margin: 0;
    opacity: 0.5;
    pointer-events: none;
  }
}

.product-image {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* object-fit: cover; */

  &[data-visible="false"] {
    display: none;
  }

  &[data-visible="true"] {
    display: flex;
  }
}

.purchase-image-selectors {
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  gap: 0.65vw;
  justify-self: center;
  align-self: center;

  & > div {
    height: min(1rem, 1.2vw);
    width: min(1rem, 1.2vw);
    border-radius: 50%;
    border: 1px solid var(--color-600);
    cursor: pointer;
  }

  & > div[data-selected="true"] {
    background-color: var(--color-600);
  }
}

.pb-option-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#color-choice {
  transition: opacity 200ms;
}

.pb-option {
  --hover-height: 3px;

  /* height: 3rem; */
  height: max(3.75rem, 4.2vw);
  /* width: max(15rem, 18vw); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: min(0.8vw, 0.5rem);
  border: 1px solid var(--color-600);
  cursor: pointer;
  transition: box-shadow 250ms;
  box-shadow: 0px 0px 3px transparent;

  transition: box-shadow 200ms ease, transform 200ms ease;

  & p {
    color: var(--color-400);
    line-height: 1.2;
    font-size: max(0.8rem, 0.8vw);
    font-weight: 400;
  }

  &[data-selected="false"] {
    opacity: 0.4;
    box-shadow: 0 0 0 black;
  }

  &[data-selected="true"],
  &:hover {
    opacity: 1;
    /* transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0px black; */
    transform: translate(
      calc(-1 * var(--hover-height)),
      calc(-1 * var(--hover-height))
    );
    box-shadow: var(--hover-height) var(--hover-height) 0 #3e3e3e;
  }
}

.pb-option-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.pb-option-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  & p {
    font-size: max(0.75rem, 0.75vw);
  }
}

.pb-option-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: max(1rem, 1vw); /*1.17rem;*/
  gap: 0.35rem;

  & h1 {
    font-size: 1.15em;
    line-height: 1;
  }

  & p {
    font-size: 0.8em;
  }
}

.purchase-body__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > div {
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    padding: max(1rem, 1vw);
  }
}

.hidden {
  opacity: 0;
}

.pb-color-options > p {
  position: relative;
}

#color-choice span {
  transition: opacity 200ms;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -25%);
}

.purchase-accessories {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.purchase-other__items {
  display: flex;
  flex-direction: row;
  gap: calc(1rem + 1vw);
  width: 100%;
  overflow: auto;
  padding: 1rem;
  padding-bottom: 2rem;
  /* align-self: center; */
}

.item-card {
  flex-shrink: 0;
  /* height: 20rem; */
  width: max(18rem, calc(15vw + 5rem));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  
  background-color: var(--color-200);
  color: var(--color-600);

  padding-bottom: 1rem;
  overflow: hidden;

  transition: scale 0.25s;

  & > div {
    width: 100%;
    display: flex;
  }

  & img {
    object-fit: cover;
    width: 80%;
    margin-inline: auto;
  }

  & p {
    font-size: 1.2em;
    margin-inline: 1rem;
    margin-block: 1rem;
  }

  & h1 {
    font-size: 2rem;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
  }

  & button {
    width: 10rem;
    height: 3rem;
    font-size: 1.35rem;
    opacity: 0.5;
    margin-left: 1.5rem;
    pointer-events: none;
    cursor: not-allowed;
  }

  &:hover {
    scale: 101.5%;
  }
}

.sideways-line-thing {
  position: absolute;
  background-color: var(--color-400);
  /* height: 100%; */
  height: 2rem;
  width: 0.2rem;
  bottom: 0;
  transform: rotate(-45deg) translateX(10rem) translateY(2rem);
  opacity: 0.15;
}

@media screen and (max-width: 85rem) {
  .purchase-body {
    flex-direction: column;
    justify-content: center;
  }

  .purchase-body__images {
    width: 80%;
    height: 40%;
    aspect-ratio: 16 / 9 !important;
    margin-inline: 0 !important;

    & img {
      object-fit: cover;
    }
  }

  .purchase-body__options {
    margin-block: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > div {
      background-color: rgb(235, 235, 235);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      border-radius: 0.5rem;
      padding: max(1rem, 1vw);
    }
  }

  .pb-color-options {
    /* display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 3rem 1fr; */
    gap: 1rem;
  }

  .purchase-body-category {
    width: 30%;
  }

  .pb-option {
    width: 100%;
  }

  .purchase-body {
    align-items: center;
  }
}

@media screen and (max-width: 62.5rem) {
  .purchase-body {
    --margin: 8vw;
  }

  .pb-option-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .purchase-body__options {
    flex-direction: column;
    width: 100%;
  }

  .purchase-body__images {
    width: calc(100% - var(--margin) * 2);
  }

  .purchase-body-category {
    width: calc(100% - var(--margin) * 2);
    margin-inline: var(--margin);
  }
}

@media screen and (max-width: 40.625rem) {
  .pb-option-list {
    display: flex;
  }
}
